/* COLOR PALETTE */

/* colors */
$color-black: #0e0e0e;
$color-black-1: #333333;
$color-black-3: #151717;
$color-black-5: #242828;
$color-black-6: #3e3e3e;
$color-white: #ffffff;
$color-red: #ff444f;
$color-red-1: #ec3f3f;
$color-red-3: #a32430;
$color-grey: #c2c2c2;
$color-grey-1: #999999;
$color-grey-2: #f2f3f4;
$color-grey-6: #d6d6d6;
$color-grey-7: #6e6e6e;
$color-grey-11: #fafafa;